mixin spec(spec, specText)
    if (spec)
        tr(class='spec spec_' + specText.toLowerCase().replace(/\s/g, '-'))
            td.spec__name= specText + ": "
            if (typeof spec !== 'object')
                td.spec__value!= spec
            else
                td.spec__value
                    ol.spec__value__list
                        each s in spec
                            li!= s

mixin image(src)
    - var smallSrc = src.replace('/g', '/small/g');
    a.model__image-link(data-lightbox="model_image" href=src)
        .model__image(style="background-image: url("+smallSrc+")")

mixin media(selector, src, srcRetina)
    style.
        !{selector} {
            background-image: url(!{src});
            background-repeat: no-repeat;
            background-position: center center;
        }

    if (srcRetina)
        style.
            @media (-webkit-min-device-pixel-ratio: 2) {
                !{selector} {
                    background-image: url(!{srcRetina});
                    background-size: cover;
                }
            }

.model-page
    h2= model.name
    .model__description!= description

    if (images.preview)
        - var scaleText = specs.scaleLength.replace('"', '').replace('.', '-');

        #preview(class="model__preview_hor model__preview_scale-" + scaleText)
            +media('#preview', images.preview, images.preview2x)

    if (isAvailable)
        .model__available-text This instrument is available now!

    .left
        h3 Specs
        table.model__specs
            +spec(id, 'S/N')
            +spec(model.name, 'Model')
            +spec(specs.scaleLength, 'Scale length')
            +spec(specs.fretsCount, 'Frets')
            +spec(specs.fingerboardRadius, 'FB radius')
            +spec(specs.bodyWood, 'Body wood')
            +spec(specs.topWood, 'Top wood')
            +spec(specs.neckWood, 'Neck wood')
            +spec(specs.construction, 'Construction')
            +spec(specs.fingerboardWood, 'Fretboard wood')
            +spec(specs.dots, 'Dots')
            +spec(specs.nut, 'Nut')
            +spec(specs.hardwareColor, 'Hardware Color')
            +spec(specs.tuners, 'Tuners')
            +spec(specs.bridge, 'Bridge')
            +spec(specs.pickups, 'Pickups')
            +spec(specs.pickup, 'Pickup')
            +spec(specs.preamp, 'Preamp')
            +spec(specs.electronics, 'Electronics')
            +spec(specs.knobs, 'Knobs')
            +spec(specs.switching, 'Switching')
            +spec(specs.color, 'Color')
            +spec(specs.finish, 'Finish')

    .right
        if (images.gallery && images.gallery.length)
            if (images.gallery.length > 6)
                .model__images_small
                    each src in images.gallery
                        +image(src)
            else
                .model__images
                    each src in images.gallery
                        +image(src)

    if (images.previewBack || images.previewBack2x)
        .model__preview_hor#preview-back
            +media('#preview-back', images.previewBack, images.previewBack2x)

    if (video)
        h3 Video
        .model__video
            iframe(width="800" height="450" src="https://www.youtube.com/embed/" + video frameborder="0" allowfullscreen)

    if (model.instruments.length > 1)
        h3 More Instruments

        -   var maxScale = 24.75, specScale;
        -   for (var i = 0; i < model.instruments.length; i++) {
        -       specScale = parseFloat(model.instruments[i].specs.scaleLength.replace('"', ''));
        -       if (maxScale < specScale) {
        -           maxScale = specScale;
        -       }
        -   }
        -   var maxScaleText = (maxScale + '').replace('.', '-');

        .model-scroller
            if (model.instruments.length > 6)
                ul(class="model-list model-list_lined model-list_max-scale-" + maxScaleText style="width:" + model.instruments.length * 230 + "px;")
                    each instrument in model.instruments
                        if (instrument.id !== id)
                            include ./instrumentListItem.jade
            else
                ul(class="model-list model-list_max-scale-" + maxScaleText)
                    each instrument in model.instruments
                        if (instrument.id !== id)
                            include ./instrumentListItem.jade

script(src="/js/lightbox.min.js")
script.
    lightbox.option({
        'resizeDuration': 0,
        'fadeDuration': 0
    })