script(src="/js/lightbox.min.js")
link(href="/css/lightbox.css" rel="stylesheet" type="text/css")

mixin spec(spec, specText)
    if (spec)
        tr.spec
            td.spec__name= specText + ": "
            td.spec__value!= spec

mixin image(src)
    a.model__image-link(data-lightbox="model_image" href=src)
        .model__image(style="background-image: url("+src+")")

.model-page
    h2= serial || name
    .model__description!= description

    .model__preview_hor(style="background-image: url(/img/"+id+"/preview.jpg)")

    .left
        table.model__specs
            if (model)
                tr.spec
                    td.spec__name= "Model: "
                    td.spec__value(style="text-transform: capitalize")
                        a(href="/" + model.href)!= model.name
            +spec(specs.bodyWood, 'Body')
            +spec(specs.topWood, 'Top')
            +spec(specs.neckWood, 'Neck wood')
            +spec(specs.neckProfile, 'Neck profile')
            +spec(specs.fingerboardWood, 'Fingerboard wood')
            +spec(specs.fingerboardRadius, 'Fingerboard radius')
            +spec(specs.fretsCount, 'Frets')
            +spec(specs.scaleLength, 'Scale length')
            +spec(specs.bridge, 'Bridge')
            +spec(specs.tuners, 'Tuners')
            +spec(specs.pickups, 'Pickups')
            +spec(specs.controls, 'Controls')

    .right
        if (images && images.length)
            .model__images
                each src in images
                    +image(src)

    .model__preview_hor(style="background-image: url(/img/"+id+"/preview_back.jpg)")

    if (video)
        h3 Video
        .model__video
            iframe(width="800" height="450" src="https://www.youtube.com/embed/"+video frameborder="0" allowfullscreen)

