
mixin media(selector, src, srcRetina)
    style.
        !{selector} {
            background: url(!{src}) no-repeat;
        }
    if (srcRetina)
        style.
            @media (-webkit-min-device-pixel-ratio: 2) {
                !{selector} {
                    background-image: url(!{srcRetina});
                    background-size: contain;
                }
            }

- var type = (instrument.type === 'guitar') ? 'guitars' : 'basses';


li.model-list__item(id='item-' + instrument.id  data-href=instrument.href)
    +media('#item-' + instrument.id, instrument.images.list, instrument.images.list2x)
    if (instrument.isAvailable)
        .model-list__item__info Available Now!

