mixin media(selector, src, srcRetina)
    style.
        !{selector} {
            background: url(!{src}) no-repeat;
        }

    if (srcRetina)
        style.
            @media (-webkit-min-device-pixel-ratio: 2) {
                !{selector} {
                    background-image: url(!{srcRetina});
                    background-size: contain;
                }
            }

- var href = (model.instruments.length > 1) ? (model.href) : (model.instruments[0].href);

li.model-list__item(id='item-'+model.id  data-href=href)
    +media('#item-'+model.id, model.images.list, model.images.list2x)
    span.model-list__item__name= model.name || model.serial


